.sortProducts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  select {
    margin-left: 0.5rem;
  }
}

.gamesList {
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  li {
    padding: 1.25rem;
    background-color: #c9c9c9;
    border-radius: 20px;
    width: 15rem;
    margin: 3rem auto 1rem auto;

    font-family: "Montserrat", "Sans-serif";
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 10rem;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    .productDetails {
      display: inline-flex;
      align-items: center;
      gap: 1rem;
      margin-top: 1.5rem;

      p {
        margin-bottom: 0.5rem;
      }
    }

    .addToCart {
      display: flex;
      align-items: center;

      width: 10rem;
      height: 2rem;

      background-color: green;
      border: none;
      border-radius: 2rem;

      margin-top: 0.5rem;

      span {
        font-family: "Montserrat", "Sans-serif";
        font-size: 1rem;
        color: #ebeff5;
        font-weight: bold;
        margin: 0 0 0 1rem;
      }

      img {
        margin: auto;
        width: 1.8rem;
      }
    }

    .addToCart:hover {
        opacity: 0.6;
        span {
            -webkit-text-stroke: 0.1px black;
        }
    }
  }
}
